@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400;600;700;800&family=DM+Sans:wght@300;400;500&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

@theme {
  /* Fuentes */
  --font-syne: "Syne", sans-serif;
  --font-dm: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Modo Claro */
  --color-carbon: #3d3d35;
  --color-cream: #f7f6f2;
  --color-slate: #4b5b8c;
  --color-slate-pale: #e8eaf2;
  --color-muted: #9a9a8e;
}

.dark {
  /* Modo Oscuro */
  --color-carbon: #f7f6f2;
  --color-cream: #3d3d35;
  --color-slate: #4b5b8c;
  --color-slate-pale: #e8eaf2;
  --color-muted: #9a9a8e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-cream);
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h3,
h4 {
  font-family: "Syne", sans-serif;
}
